name: Deploy to Cloudflare

on:
  workflow_dispatch:
  schedule:
    - cron: '30 0 * * *' # JST 9:30

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '23.11.0'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Deploy to Cloudflare
        run: npm run deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
